In [33]:
library(rstatix)

# install install.packages("effectsize") if you don't have it
if (!requireNamespace("effectsize", quietly = TRUE)) {
  install.packages("effectsize")
}

# Load the effectsize package
library(effectsize)

# install rcompanion
if (!requireNamespace("rcompanion", quietly = TRUE)) {
  install.packages("rcompanion")
}

# Load the rcompanion package
library(rcompanion)

Installing package into '/Users/ac4294/Library/R/x86_64/4.4/library'
(as 'lib' is unspecified)

also installing the dependencies 'bayestestR', 'insight', 'parameters', 'performance', 'datawizard'

The downloaded binary packages are in
	/var/folders/y8/8gp6q_zx4n9drtczcnt2_1sm0000gp/T//Rtmp73V4cl/downloaded_packages

Attaching package: 'effectsize'


The following object is masked from 'package:rcompanion':

    phi


The following objects are masked from 'package:rstatix':

    cohens_d, eta_squared

In [2]:
data_dir <- file.path(getwd(), "..", "figures", "analysis_1", Sys.Date())

if (!dir.exists(data_dir)) {
  # raise error if the directory does not exist
  stmt <-paste0("The directory ", data_dir, " does not exist. Please run the analysis first.")
  print(stmt)
  stop(stmt)
}
 
# load the data
exons_df <- read.csv(file.path(data_dir, "age_of_onset_vs_exon.csv"))
# make exon a factor
exons_df$exon <- as.factor(exons_df$exon)
head(exons_df)

  individual_id age_of_onset exon
1  4             2           99
2  5            10           99
3  6             2           99
4  7            10           99
5 19            12           47
6 35            11           8

In [3]:
# calculate effect size kruskal wallis
kruskal_eff <- kruskal_effsize(data = exons_df, formula = age_of_onset ~ exon, ci = TRUE)
kruskal_eff

                           .y.          n   effsize   conf.low conf.high
Kruskal-Wallis chi-squared age_of_onset 324 0.1638973 0.13     0.28
                           method  magnitude
Kruskal-Wallis chi-squared eta2[H] large

In [4]:
domain_df <- read.csv(file.path(data_dir, "age_of_onset_vs_domain.csv"))
# make domain a factor
domain_df$domain <- as.factor(domain_df$domain)
head(domain_df)

  individual_id age_of_onset domain
1  4             2           TM
2  5            10           TM
3  6             2           TM
4  7            10           TM
5 19            12           BSol
6 28             6           TM

In [5]:
domain_kruskal_eff <- kruskal_effsize(data = domain_df, formula = age_of_onset ~ domain, ci = TRUE)
domain_kruskal_eff

                           .y.          n   effsize    conf.low conf.high
Kruskal-Wallis chi-squared age_of_onset 404 0.02093855 0.0039   0.09
                           method  magnitude
Kruskal-Wallis chi-squared eta2[H] small

In [6]:
subdomain_df <- read.csv(file.path(data_dir, "age_of_onset_vs_subdomain.csv"))
# make subdomain a factor
subdomain_df$subdomain <- as.factor(subdomain_df$subdomain)
head(subdomain_df)

  individual_id age_of_onset subdomain
1  4             2           pVSD
2  5            10           pVSD
3  6             2           pVSD
4  7            10           pVSD
5 19            12           BSol1
6 28             6           pVSD

In [7]:
subdomain_kruskal_eff <- kruskal_effsize(data = subdomain_df, formula = age_of_onset ~ subdomain, ci = TRUE)
subdomain_kruskal_eff

                           .y.          n   effsize    conf.low conf.high
Kruskal-Wallis chi-squared age_of_onset 393 0.04444228 0.02     0.13
                           method  magnitude
Kruskal-Wallis chi-squared eta2[H] small

In [8]:
exons_df[exons_df$exon %in% c(45, 34),]

    individual_id age_of_onset exon
23    81          7            45
182  610          5            45
183  611          5            45
269 1122          3            45
270 1123          3            45
278 1166          4            45

In [8]:
d_exon <- dunn_test(age_of_onset ~ exon, data = exons_df, p.adjust.method = "bonferroni")
head(d_exon)

   .y.          group1 group2 n1 n2 statistic  p           p.adj
14 age_of_onset 8      14     34 47  0.9161197 0.359604137 1.0000000
15 age_of_onset 8      15     34  6 -0.3594223 0.719279195 1.0000000
37 age_of_onset 8      37     34  9 -1.0690420 0.285050760 1.0000000
43 age_of_onset 8      43     34  8  0.7746816 0.438527800 1.0000000
44 age_of_onset 8      44     34 13 -0.3995358 0.689498438 1.0000000
45 age_of_onset 8      45     34  6 -3.4779289 0.000505304 0.1167252
   p.adj.signif
14 ns
15 ns
37 ns
43 ns
44 ns
45 ns

In [14]:
tail(d_exon)

  .y.          group1 group2 n1 n2 statistic  p           p.adj p.adj.signif
1 age_of_onset 100    101    10  7  1.7364695 0.082480845 1     ns
2 age_of_onset 100    102    10  6 -1.3582826 0.174374025 1     ns
3 age_of_onset 100    105    10 18  1.2556758 0.209233545 1     ns
4 age_of_onset 101    102     7  6 -2.7988846 0.005127946 1     ns
5 age_of_onset 101    105     7 18 -0.8093123 0.418335560 1     ns
6 age_of_onset 102    105     6 18  2.5384978 0.011132951 1     ns

In [27]:
vda_exon <- multiVDA(age_of_onset ~ exon, data = exons_df, statistic = "VDA")
head(vda_exon[[1]])

  Comparison VDA   CD     rg     VDA.m CD.m  rg.m
1 8 - 14     0.443 -0.114 -0.113 0.557 0.114 0.113
2 8 - 15     0.556  0.112  0.113 0.556 0.112 0.113
3 8 - 37     0.609  0.218  0.219 0.609 0.218 0.219
4 8 - 43     0.445 -0.110 -0.110 0.555 0.110 0.110
5 8 - 44     0.561  0.122  0.122 0.561 0.122 0.122
6 8 - 45     0.934  0.868  0.868 0.934 0.868 0.868

In [31]:
rank_bi_exon <- multiVDA(age_of_onset ~ exon, data = exons_df, statistic = "rg")
head(rank_bi_exon[[1]])

  Comparison VDA   CD     rg     VDA.m CD.m  rg.m
1 8 - 14     0.443 -0.114 -0.113 0.557 0.114 0.113
2 8 - 15     0.556  0.112  0.113 0.556 0.112 0.113
3 8 - 37     0.609  0.218  0.219 0.609 0.218 0.219
4 8 - 43     0.445 -0.110 -0.110 0.555 0.110 0.110
5 8 - 44     0.561  0.122  0.122 0.561 0.122 0.122
6 8 - 45     0.934  0.868  0.868 0.934 0.868 0.868

In [28]:
export_dunn_and_vda <- function(df, formula, independent_var){
    dunn_res <- dunn_test(formula, data = df, p.adjust.method = "bonferroni")

    vda_res <- multiVDA(formula, data = df, statistic = "VDA")

    # save the results
    write.csv(dunn_res, file.path(data_dir, paste0("dunn_", independent_var, "_", formula[[2]], ".csv")), row.names = FALSE)
    write.csv(vda_res[[1]], file.path(data_dir, paste0("vda_", independent_var, "_", formula[[2]], ".csv")), row.names = FALSE)
}


export_dunn_and_vda(exons_df, age_of_onset ~ exon, "exon")
export_dunn_and_vda(domain_df, age_of_onset ~ domain, "domain")
export_dunn_and_vda(subdomain_df, age_of_onset ~ subdomain, "subdomain")

# OTHER:

Calculate Rank Biserial with the effectsize package

In [35]:
vd_a(
    x = x$age_of_onset,
    y = y$age_of_onset
)

  p_superiority CI   CI_low     CI_high
1 0.1018519     0.95 0.03676736 0.2520051

In [80]:
dunn_w_eff_size <- function(df, independent_var) {

    func_aoo <- formula(paste0("age_of_onset ~ ", independent_var))

    dunn_res <- dunn_test(func_aoo, data = df, p.adjust.method = "bonferroni")

    d_dunn_res <- as.data.frame(dunn_res)

    # add more columns: r_rank_biserial, rg_CI, rg_CI_low, rg_CI_high, VDA, VDA_CI, VDA_CI_low, VDA_CI_high
    d_dunn_res[c("r_rank_biserial", "rg_CI", "rg_CI_low", "rg_CI_high", "VDA", "VDA_CI", "VDA_CI_low", "VDA_CI_high", "cliff_d", "cliff_CI_high", "cliff_CI_low")] <- NA

    # loop through the data frame and calculate the effect size
    for (i in 1:nrow(d_dunn_res)) {
        # get the groups
        g1 <- df[df[[independent_var]] == d_dunn_res[i, "group1"], "age_of_onset"]
        g2 <- df[df[[independent_var]] == d_dunn_res[i, "group2"], "age_of_onset"]

        # calculate the effect size
        rg_eff <- rank_biserial(g1, g2)
        vda_eff <- vd_a(g1, g2)
        cliff_eff <- cliffs_delta(g1, g2)
        

        d_dunn_res[i, "r_rank_biserial"] <- rg_eff$r_rank_biserial
        d_dunn_res[i, "rg_CI"] <- rg_eff$CI
        d_dunn_res[i, "rg_CI_low"] <- rg_eff$CI_low
        d_dunn_res[i, "rg_CI_high"] <- rg_eff$CI_high
        d_dunn_res[i, "VDA"] <- vda_eff$p_superiority
        d_dunn_res[i, "VDA_CI"] <- vda_eff$CI
        d_dunn_res[i, "VDA_CI_low"] <- vda_eff$CI_low
        d_dunn_res[i, "VDA_CI_high"] <- vda_eff$CI_high
        d_dunn_res[i, "cliff_d"] <- cliff_eff$r_rank_biserial
        d_dunn_res[i, "cliff_CI_high"] <- cliff_eff$CI_high
        d_dunn_res[i, "cliff_CI_low"] <- cliff_eff$CI_low
    }

    return (d_dunn_res)

}

exon_eff_size <- dunn_w_eff_size(exons_df, "exon")
head(exon_eff_size)

  .y.          group1 group2 n1 n2 statistic  p           p.adj
1 age_of_onset 8      14     34 47  0.9161197 0.359604137 1.0000000
2 age_of_onset 8      15     34  6 -0.3594223 0.719279195 1.0000000
3 age_of_onset 8      37     34  9 -1.0690420 0.285050760 1.0000000
4 age_of_onset 8      43     34  8  0.7746816 0.438527800 1.0000000
5 age_of_onset 8      44     34 13 -0.3995358 0.689498438 1.0000000
6 age_of_onset 8      45     34  6 -3.4779289 0.000505304 0.1167252
  p.adj.signif r_rank_biserial rg_CI rg_CI_low  rg_CI_high VDA       VDA_CI
1 ns           -0.1132666      0.95  -0.3540692 0.1416208  0.4433667 0.95
2 ns            0.1127451      0.95  -0.3748661 0.5514940  0.5563725 0.95
3 ns            0.2189542      0.95  -0.2036497 0.5727811  0.6094771 0.95
4 ns           -0.1102941      0.95  -0.5084719 0.3267428  0.4448529 0.95
5 ns            0.1221719      0.95  -0.2450302 0.4587202  0.5610860 0.95
6 ns            0.8676471      0.95   0.6729864 0.9499024  0.9338235 0.95
  VDA_CI_low VDA_CI_high cliff_d    cliff_CI_high cliff_CI_low
1 0.3229654  0.5708104   -0.1132666 0.1416208     -0.3540692
2 0.3125670  0.7757470    0.1127451 0.5514940     -0.3748661
3 0.3981752  0.7863905    0.2189542 0.5727811     -0.2036497
4 0.2457641  0.6633714   -0.1102941 0.3267428     -0.5084719
5 0.3774849  0.7293601    0.1221719 0.4587202     -0.2450302
6 0.8364932  0.9749512    0.8676471 0.9499024      0.6729864

In [81]:
domain_eff_size <- dunn_w_eff_size(domain_df, "domain")
subdomain_eff_size <- dunn_w_eff_size(subdomain_df, "subdomain")

In [82]:
sig_exon_eff <- exon_eff_size[exon_eff_size$p.adj < 0.05,]
sig_exon_eff

    .y.          group1 group2 n1 n2 statistic p            p.adj
26  age_of_onset 14     45     47 6  -4.028168 5.621306e-05 0.012985216
40  age_of_onset 14     102    47 6  -3.738223 1.853253e-04 0.042810146
117 age_of_onset 45     89      6 6   3.938957 8.183659e-05 0.018904251
119 age_of_onset 45     93      6 8   4.319043 1.567075e-05 0.003619943
120 age_of_onset 45     94      6 8   3.756981 1.719755e-04 0.039726329
194 age_of_onset 89     102     6 6  -3.721241 1.982459e-04 0.045794810
209 age_of_onset 93     102     8 6  -4.086295 4.383169e-05 0.010125121
    p.adj.signif r_rank_biserial rg_CI rg_CI_low  rg_CI_high VDA       VDA_CI
26  *             0.9716312      0.95   0.9254162  0.9893677 0.9858156 0.95
40  *             0.9255319      0.95   0.8114013  0.9716763 0.9627660 0.95
117 *            -1.0000000      0.95  -1.0000000 -1.0000000 0.0000000 0.95
119 **           -1.0000000      0.95  -1.0000000 -1.0000000 0.0000000 0.95
120 *            -1.0000000      0.95  -1.0000000 -1.0000000 0.0000000 0.95
194 *             1.0000000      0.95   1.0000000  1.0000000 1.0000000 0.95
209 *             0.9791667      0.95   0.9280800  0.9940766 0.9895833 0.95
    VDA_CI_low VDA_CI_high cliff_d    cliff_CI_high cliff_CI_low
26  0.9627081  0.9946839    0.9716312  0.9893677     0.9254162
40  0.9057006  0.9858381    0.9255319  0.9716763     0.8114013
117 0.0000000  0.0000000   -1.0000000 -1.0000000    -1.0000000
119 0.0000000  0.0000000   -1.0000000 -1.0000000    -1.0000000
120 0.0000000  0.0000000   -1.0000000 -1.0000000    -1.0000000
194 1.0000000  1.0000000    1.0000000  1.0000000     1.0000000
209 0.9640400  0.9970383    0.9791667  0.9940766     0.9280800

In [83]:
sig_domain_eff <- domain_eff_size[domain_eff_size$p.adj < 0.05,]
sig_domain_eff

   .y.          group1 group2 n1 n2  statistic p            p.adj
10 age_of_onset CSol   NTD    75 105 3.750535  0.0001764577 0.004940815
   p.adj.signif r_rank_biserial rg_CI rg_CI_low  rg_CI_high VDA       VDA_CI
10 **           -0.3381587      0.95  -0.4804478 -0.1785241 0.3309206 0.95
   VDA_CI_low VDA_CI_high cliff_d    cliff_CI_high cliff_CI_low
10 0.2597761  0.4107379   -0.3381587 -0.1785241    -0.4804478

In [84]:
sig_subdomain_eff <- subdomain_eff_size[subdomain_eff_size$p.adj < 0.05,]
sig_subdomain_eff

   .y.          group1 group2 n1 n2 statistic p            p.adj
15 age_of_onset CSol   NSol   70 50 3.415042  0.0006377229 0.04208971
   p.adj.signif r_rank_biserial rg_CI rg_CI_low  rg_CI_high VDA   VDA_CI
15 *            -0.394          0.95  -0.5559322 -0.2032556 0.303 0.95
   VDA_CI_low VDA_CI_high cliff_d cliff_CI_high cliff_CI_low
15 0.2220339  0.3983722   -0.394  -0.2032556    -0.5559322

In [85]:
# focus on CSol in domain
domain_eff_size[domain_eff_size$group1 == "CSol" | domain_eff_size$group2 == "CSol",]

   .y.          group1 group2 n1 n2  statistic   p            p.adj
1  age_of_onset BSol   CSol   92  75 -2.18725940 0.0287235931 0.804260608
8  age_of_onset CSol   CTD    75  26  1.70493486 0.0882065744 1.000000000
9  age_of_onset CSol   JSol   75   9  0.06615158 0.9472571484 1.000000000
10 age_of_onset CSol   NTD    75 105  3.75053499 0.0001764577 0.004940815
11 age_of_onset CSol   SPRY   75  10  1.20296472 0.2289899738 1.000000000
12 age_of_onset CSol   TM     75  63  1.79520509 0.0726210296 1.000000000
13 age_of_onset CSol   TaF    75  24  1.00264486 0.3160322436 1.000000000
   p.adj.signif r_rank_biserial rg_CI rg_CI_low   rg_CI_high   VDA       VDA_CI
1  ns            0.18884058     0.95   0.01456331  0.351982549 0.5944203 0.95
8  ns           -0.22256410     0.95  -0.45036320  0.032439941 0.3887179 0.95
9  ns           -0.08148148     0.95  -0.44881672  0.309409692 0.4592593 0.95
10 **           -0.33815873     0.95  -0.48044780 -0.178524124 0.3309206 0.95
11 ns           -0.19600000     0.95  -0.52393778  0.182544374 0.4020000 0.95
12 ns           -0.18433862     0.95  -0.36319034  0.007615497 0.4078307 0.95
13 ns           -0.08888889     0.95  -0.34154581  0.175749399 0.4555556 0.95
   VDA_CI_low VDA_CI_high cliff_d     cliff_CI_high cliff_CI_low
1  0.5072817  0.6759913    0.18884058  0.351982549   0.01456331
8  0.2748184  0.5162200   -0.22256410  0.032439941  -0.45036320
9  0.2755916  0.6547048   -0.08148148  0.309409692  -0.44881672
10 0.2597761  0.4107379   -0.33815873 -0.178524124  -0.48044780
11 0.2380311  0.5912722   -0.19600000  0.182544374  -0.52393778
12 0.3184048  0.5038077   -0.18433862  0.007615497  -0.36319034
13 0.3292271  0.5878747   -0.08888889  0.175749399  -0.34154581

# SCRATCH

In [53]:
exons_df[exons_df$exon %in% c(102),]

    individual_id age_of_onset exon
201 678           4            102
202 679           4            102
203 680           4            102
214 749           4            102
215 750           6            102
216 751           9            102

In [34]:


# for each combination of exon, calculate the effect size
exon_factors <- levels(exons_df$exon)
c2_exons <- combn(exon_factors, 2, simplify = FALSE)
d_exon <- dunn_test(age_of_onset ~ exon, data = exons_df, p.adjust.method = "bonferroni")

# convert the dunn test results to a data frame
d_exon_df <- as.data.frame(d_exon)
# add columns, r_rank_biserial, CI, CI_low, CI_high
d_exon_df$r_rank_biserial <- NA
d_exon_df$CI <- NA
d_exon_df$CI_low <- NA
d_exon_df$CI_high <- NA


for (i in seq_along(c2_exons)) {
  exon_cmp <- c2_exons[[i]]
  exon1 <- exon_cmp[1]
  exon2 <- exon_cmp[2]

  # filter the data
  x <- exons_df[exons_df$exon == exon1, "age_of_onset", drop = FALSE]
  y <- exons_df[exons_df$exon == exon2, "age_of_onset", drop = FALSE]

  # calculate the effect size
  eff_size <- rank_biserial(x = x$age_of_onset, y = y$age_of_onset)
  

  # Store the effect size with the dunn test results
  rows_to_update <- d_exon_df$group1 == exon1 & d_exon_df$group2 == exon2 |
    d_exon_df$group1 == exon2 & d_exon_df$group2 == exon1

  d_exon_df[rows_to_update, "r_rank_biserial"] <- eff_size$r_rank_biserial
  d_exon_df[rows_to_update, "CI"] <- eff_size$CI
  d_exon_df[rows_to_update, "CI_low"] <- eff_size$CI_low
  d_exon_df[rows_to_update, "CI_high"] <- eff_size$CI_high
}

head(d_exon_df)

  .y.          group1 group2 n1 n2 statistic  p           p.adj
1 age_of_onset 8      14     34 47  0.9161197 0.359604137 1.0000000
2 age_of_onset 8      15     34  6 -0.3594223 0.719279195 1.0000000
3 age_of_onset 8      37     34  9 -1.0690420 0.285050760 1.0000000
4 age_of_onset 8      43     34  8  0.7746816 0.438527800 1.0000000
5 age_of_onset 8      44     34 13 -0.3995358 0.689498438 1.0000000
6 age_of_onset 8      45     34  6 -3.4779289 0.000505304 0.1167252
  p.adj.signif r_rank_biserial CI   CI_low     CI_high
1 ns           -0.1132666      0.95 -0.3540692 0.1416208
2 ns            0.1127451      0.95 -0.3748661 0.5514940
3 ns            0.2189542      0.95 -0.2036497 0.5727811
4 ns           -0.1102941      0.95 -0.5084719 0.3267428
5 ns            0.1221719      0.95 -0.2450302 0.4587202
6 ns            0.8676471      0.95  0.6729864 0.9499024

In [75]:
cliff_delta <- cliffs_delta(
    domain_df[domain_df$domain == "CSol", "age_of_onset", drop = FALSE]$age_of_onset,
    domain_df[domain_df$domain == "NTD", "age_of_onset", drop = FALSE]$age_of_onset
)
cliff_delta_exon

  r_rank_biserial CI   CI_low     CI_high
1 -0.3381587      0.95 -0.4804478 -0.1785241

In [72]:
head(multiVDA(age_of_onset ~ exon, data = exons_df)[[1]])

  Comparison VDA   CD     rg     VDA.m CD.m  rg.m
1 8 - 14     0.443 -0.114 -0.113 0.557 0.114 0.113
2 8 - 15     0.556  0.112  0.113 0.556 0.112 0.113
3 8 - 37     0.609  0.218  0.219 0.609 0.218 0.219
4 8 - 43     0.445 -0.110 -0.110 0.555 0.110 0.110
5 8 - 44     0.561  0.122  0.122 0.561 0.122 0.122
6 8 - 45     0.934  0.868  0.868 0.934 0.868 0.868

In [47]:
head(domain_df)

  individual_id age_of_onset domain
1  4             2           TM
2  5            10           TM
3  6             2           TM
4  7            10           TM
5 19            12           BSol
6 28             6           TM

In [56]:
domain_factors <- levels(domain_df$domain)
c2_domain <- combn(domain_factors, 2, simplify = FALSE)
d_domain <- dunn_test(age_of_onset ~ domain, data = domain_df, p.adjust.method = "bonferroni")

# convert the dunn test results to a data frame
d_domain_df <- as.data.frame(d_domain)
# add columns, r_rank_biserial, CI, CI_low, CI_high
d_domain_df$r_rank_biserial <- NA
d_domain_df$CI <- NA
d_domain_df$CI_low <- NA
d_domain_df$CI_high <- NA


for (i in seq_along(c2_domain)) {
  domain1 <- c2_domain[[i]][1]
  domain2 <- c2_domain[[i]][2]

  # filter the data
  x_domain <- domain_df[domain_df$domain == domain1, "age_of_onset", drop = FALSE]
  y_domain <- domain_df[domain_df$domain == domain2, "age_of_onset", drop = FALSE]

  # calculate the effect size
  eff_size_domain <- rank_biserial(x = x_domain$age_of_onset, y = y_domain$age_of_onset)

  # Store the effect size with the dunn test results
  rows_to_update_domain <- d_domain_df$group1 == domain1 & d_domain_df$group2 == domain2 |
    d_domain_df$group1 == domain2 & d_domain_df$group2 == domain1

  d_domain_df[rows_to_update_domain, "r_rank_biserial"] <- eff_size_domain$r_rank_biserial
  d_domain_df[rows_to_update_domain, "CI"] <- eff_size_domain$CI
  d_domain_df[rows_to_update_domain, "CI_low"] <- eff_size_domain$CI_low
  d_domain_df[rows_to_update_domain, "CI_high"] <- eff_size_domain$CI_high
}

head(d_domain_df)

  .y.          group1 group2 n1 n2  statistic  p          p.adj
1 age_of_onset BSol   CSol   92  75 -2.1872594 0.02872359 0.8042606
2 age_of_onset BSol   CTD    92  26  0.2149391 0.82981476 1.0000000
3 age_of_onset BSol   JSol   92   9 -0.9074742 0.36415609 1.0000000
4 age_of_onset BSol   NTD    92 105  1.5878219 0.11232661 1.0000000
5 age_of_onset BSol   SPRY   92  10  0.1943119 0.84593169 1.0000000
6 age_of_onset BSol   TM     92  63 -0.2047308 0.83778244 1.0000000
  p.adj.signif r_rank_biserial CI   CI_low      CI_high
1 ns            0.18884058     0.95  0.01456331 0.35198255
2 ns           -0.02842809     0.95 -0.27367358 0.22028823
3 ns            0.17270531     0.95 -0.21910185 0.51654810
4 ns           -0.12101449     0.95 -0.27624903 0.04037372
5 ns           -0.05217391     0.95 -0.40603045 0.31528788
6 ns            0.01552795     0.95 -0.16849452 0.19850447

In [57]:
# same for subdomain
subdomain_factors <- levels(subdomain_df$subdomain)
c2_subdomain <- combn(subdomain_factors, 2, simplify = FALSE)
d_subdomain <- dunn_test(age_of_onset ~ subdomain, data = subdomain_df, p.adjust.method = "bonferroni")

# convert the dunn test results to a data frame
d_subdomain_df <- as.data.frame(d_subdomain)
# add columns, r_rank_biserial, CI, CI_low, CI_high
d_subdomain_df$r_rank_biserial <- NA
d_subdomain_df$CI <- NA
d_subdomain_df$CI_low <- NA
d_subdomain_df$CI_high <- NA

for (i in seq_along(c2_subdomain)) {
  subdomain1 <- c2_subdomain[[i]][1]
  subdomain2 <- c2_subdomain[[i]][2]

  # filter the data
  x_subdomain <- subdomain_df[subdomain_df$subdomain == subdomain1, "age_of_onset", drop = FALSE]
  y_subdomain <- subdomain_df[subdomain_df$subdomain == subdomain2, "age_of_onset", drop = FALSE]

  # calculate the effect size
  eff_size_subdomain <- rank_biserial(x = x_subdomain$age_of_onset, y = y_subdomain$age_of_onset)

  # Store the effect size with the dunn test results
  rows_to_update_subdomain <- d_subdomain_df$group1 == subdomain1 & d_subdomain_df$group2 == subdomain2 |
    d_subdomain_df$group1 == subdomain2 & d_subdomain_df$group2 == subdomain1

  d_subdomain_df[rows_to_update_subdomain, "r_rank_biserial"] <- eff_size_subdomain$r_rank_biserial
  d_subdomain_df[rows_to_update_subdomain, "CI"] <- eff_size_subdomain$CI
  d_subdomain_df[rows_to_update_subdomain, "CI_low"] <- eff_size_subdomain$CI_low
  d_subdomain_df[rows_to_update_subdomain, "CI_high"] <- eff_size_subdomain$CI_high
}

head(d_subdomain_df)

  .y.          group1 group2 n1 n2 statistic  p          p.adj p.adj.signif
1 age_of_onset BSol1  CSol   90 70 -2.3540919 0.01856802 1     ns
2 age_of_onset BSol1  CTD    90 23  0.1381121 0.89015185 1     ns
3 age_of_onset BSol1  EF1&2  90  5  1.3043475 0.19211513 1     ns
4 age_of_onset BSol1  JSol   90  9 -0.8032342 0.42183936 1     ns
5 age_of_onset BSol1  NSol   90 50  1.4581062 0.14481128 1     ns
6 age_of_onset BSol1  NTD-A  90 46  1.1338250 0.25686796 1     ns
  r_rank_biserial CI   CI_low      CI_high
1  0.20619048     0.95  0.02828535 0.37143425
2 -0.02125604     0.95 -0.27920014 0.23954928
3 -0.29777778     0.95 -0.68033447 0.21229905
4  0.15432099     0.95 -0.23741683 0.50288672
5 -0.13022222     0.95 -0.31966185 0.06922772
6 -0.11038647     0.95 -0.30650784 0.09472544

In [59]:
# print out only significant results
d_exon_sig <- d_exon_df[d_exon_df$p.adj < 0.05,]

d_exon_sig

    .y.          group1 group2 n1 n2 statistic p            p.adj
26  age_of_onset 14     45     47 6  -4.028168 5.621306e-05 0.012985216
40  age_of_onset 14     102    47 6  -3.738223 1.853253e-04 0.042810146
117 age_of_onset 45     89      6 6   3.938957 8.183659e-05 0.018904251
119 age_of_onset 45     93      6 8   4.319043 1.567075e-05 0.003619943
120 age_of_onset 45     94      6 8   3.756981 1.719755e-04 0.039726329
194 age_of_onset 89     102     6 6  -3.721241 1.982459e-04 0.045794810
209 age_of_onset 93     102     8 6  -4.086295 4.383169e-05 0.010125121
    p.adj.signif r_rank_biserial CI   CI_low     CI_high
26  *             0.9716312      0.95  0.9254162  0.9893677
40  *             0.9255319      0.95  0.8114013  0.9716763
117 *            -1.0000000      0.95 -1.0000000 -1.0000000
119 **           -1.0000000      0.95 -1.0000000 -1.0000000
120 *            -1.0000000      0.95 -1.0000000 -1.0000000
194 *             1.0000000      0.95  1.0000000  1.0000000
209 *             0.9791667      0.95  0.9280800  0.9940766

In [60]:
# print out only significant results
d_domain_sig <- d_domain_df[d_domain_df$p.adj < 0.05,]
d_domain_sig

   .y.          group1 group2 n1 n2  statistic p            p.adj
10 age_of_onset CSol   NTD    75 105 3.750535  0.0001764577 0.004940815
   p.adj.signif r_rank_biserial CI   CI_low     CI_high
10 **           -0.3381587      0.95 -0.4804478 -0.1785241

In [61]:
# print out only significant results
d_subdomain_sig <- d_subdomain_df[d_subdomain_df$p.adj < 0.05,]
d_subdomain_sig

   .y.          group1 group2 n1 n2 statistic p            p.adj
15 age_of_onset CSol   NSol   70 50 3.415042  0.0006377229 0.04208971
   p.adj.signif r_rank_biserial CI   CI_low     CI_high
15 *            -0.394          0.95 -0.5559322 -0.2032556