# Fisher Test 

(Continue from analysis_2 after exporting from Python) 
NOTE: This is an R Jupyter notebook.

In [1]:
data_dir <-  file.path(getwd(), "..", "figures", "analysis_2", Sys.Date())

if (!dir.exists(data_dir)) {
# raise error if the directory does not exist
stmt <- paste0("The directory ", data_dir, " does not exist. Please run the analysis first.")
print(stmt)
stop(stmt)
} 

# load the csv
df <- read.csv(file.path(data_dir, "beta_blocker_effectiveness.csv"))
head(df)

  p_posedit_str False True X..Effective
1 Gly2337Val    1     10   90.90909
2 (Arg420Gln)   8     10   55.55556
3 (Met3978Ile)  7      7   50.00000
4 (Gly3946Ser)  3      3   50.00000
5 (Glu1724Lys)  3      2   40.00000
6 (Ser2246Leu)  5      3   37.50000

In [2]:
library(rstatix)

Attaching package: 'rstatix'


The following object is masked from 'package:stats':

    filter

In [5]:
# create the table from the dataframe - only need 
# the p_posedit_str column (this will be the row names)
# False column (not effective)
# True column (effective)
df_test <- df[, c("p_posedit_str", "False", "True")]
# set the row names
rownames(df_test) <- df_test$p_posedit_str
# remove the p_posedit_str column
df_test <- df_test[, -1]
df_test

             False True
Gly2337Val    1    10
(Arg420Gln)   8    10
(Met3978Ile)  7     7
(Gly3946Ser)  3     3
(Glu1724Lys)  3     2
(Ser2246Leu)  5     3
(Arg2401His)  4     2
(Arg420Trp)  12     5
(Cys2277Arg)  6     2
(Ser4124Gly)  6     0

Run fisher test on the data to see if there is a significant difference between the 10 conditions

In [6]:
row_wise_fisher_test(xtab=df_test, p.adjust.method = "fdr")

   group        n  p       p.adj  p.adj.signif
1  Gly2337Val   99 0.00209 0.0209 *
2  (Arg420Gln)  99 0.30900 0.6180 ns
3  (Met3978Ile) 99 0.77400 0.9680 ns
4  (Gly3946Ser) 99 1.00000 1.0000 ns
5  (Glu1724Lys) 99 1.00000 1.0000 ns
6  (Ser2246Leu) 99 0.73000 0.9680 ns
7  (Arg2401His) 99 0.69000 0.9680 ns
8  (Arg420Trp)  99 0.19200 0.6180 ns
9  (Cys2277Arg) 99 0.29400 0.6180 ns
10 (Ser4124Gly) 99 0.03220 0.1610 ns

In [7]:
pairwise_fisher_test(x=df_test, p.adjust.method = "fdr")

   group1       group2       n  p        p.adj  p.adj.signif
1  Gly2337Val   (Arg420Gln)  29 0.095900 0.4040 ns
2  Gly2337Val   (Met3978Ile) 25 0.042100 0.2710 ns
3  Gly2337Val   (Gly3946Ser) 17 0.098700 0.4040 ns
4  Gly2337Val   (Glu1724Lys) 16 0.063200 0.3160 ns
5  Gly2337Val   (Ser2246Leu) 19 0.040800 0.2710 ns
6  Gly2337Val   (Arg2401His) 17 0.027600 0.2480 ns
7  Gly2337Val   (Arg420Trp)  28 0.002080 0.0468 *
8  Gly2337Val   (Cys2277Arg) 19 0.006270 0.0941 ns
9  Gly2337Val   (Ser4124Gly) 17 0.000566 0.0255 *
10 (Arg420Gln)  (Met3978Ile) 32 1.000000 1.0000 ns
11 (Arg420Gln)  (Gly3946Ser) 24 1.000000 1.0000 ns
12 (Arg420Gln)  (Glu1724Lys) 23 0.640000 1.0000 ns
13 (Arg420Gln)  (Ser2246Leu) 26 0.673000 1.0000 ns
14 (Arg420Gln)  (Arg2401His) 24 0.640000 1.0000 ns
15 (Arg420Gln)  (Arg420Trp)  35 0.176000 0.5850 ns
16 (Arg420Gln)  (Cys2277Arg) 26 0.216000 0.6080 ns
17 (Arg420Gln)  (Ser4124Gly) 24 0.023900 0.2480 ns
18 (Met3978Ile) (Gly3946Ser) 20 1.000000 1.0000 ns
19 (Met3978Ile) (Glu1724Lys) 19 1.000000 1.0000 ns
20 (Met3978Ile) (Ser2246Leu) 22 0.675000 1.0000 ns
21 (Met3978Ile) (Arg2401His) 20 0.642000 1.0000 ns
22 (Met3978Ile) (Arg420Trp)  31 0.288000 0.7200 ns
23 (Met3978Ile) (Cys2277Arg) 22 0.380000 0.9000 ns
24 (Met3978Ile) (Ser4124Gly) 20 0.051500 0.2900 ns
25 (Gly3946Ser) (Glu1724Lys) 11 1.000000 1.0000 ns
26 (Gly3946Ser) (Ser2246Leu) 14 1.000000 1.0000 ns
27 (Gly3946Ser) (Arg2401His) 12 1.000000 1.0000 ns
28 (Gly3946Ser) (Arg420Trp)  23 0.621000 1.0000 ns
29 (Gly3946Ser) (Cys2277Arg) 14 0.580000 1.0000 ns
30 (Gly3946Ser) (Ser4124Gly) 12 0.182000 0.5850 ns
31 (Glu1724Lys) (Ser2246Leu) 13 1.000000 1.0000 ns
32 (Glu1724Lys) (Arg2401His) 11 1.000000 1.0000 ns
33 (Glu1724Lys) (Arg420Trp)  22 1.000000 1.0000 ns
34 (Glu1724Lys) (Cys2277Arg) 13 1.000000 1.0000 ns
35 (Glu1724Lys) (Ser4124Gly) 11 0.182000 0.5850 ns
36 (Ser2246Leu) (Arg2401His) 14 1.000000 1.0000 ns
37 (Ser2246Leu) (Arg420Trp)  25 1.000000 1.0000 ns
38 (Ser2246Leu) (Cys2277Arg) 16 1.000000 1.0000 ns
39 (Ser2246Leu) (Ser4124Gly) 14 0.209000 0.6080 ns
40 (Arg2401His) (Arg420Trp)  23 1.000000 1.0000 ns
41 (Arg2401His) (Cys2277Arg) 14 1.000000 1.0000 ns
42 (Arg2401His) (Ser4124Gly) 12 0.455000 1.0000 ns
43 (Arg420Trp)  (Cys2277Arg) 25 1.000000 1.0000 ns
44 (Arg420Trp)  (Ser4124Gly) 23 0.272000 0.7200 ns
45 (Cys2277Arg) (Ser4124Gly) 14 0.473000 1.0000 ns

# Validate flecainide usage among variants

Try to see if this statement is actually true after adding the FDR correction:
When comparing therapeutic strategies between the most common mutations, a significantly greater proportion of those with the R420W (70.6%) required a poly-pharmaceutical approach compared to R420Q (8.3%, p = <0.001) in the setting of similar ICD usage.

In [8]:
fisher_flec <- read.csv(file.path(data_dir, "flecainide_fisher.csv"))
head(fisher_flec)

  p_posedit_str Flecainide_and_beta_blocker beta_blocker_only Total
1 (Arg420Gln)   0                           10                10
2 (Arg420Trp)   9                            3                12
3 (Gly357Ser)   0                           93                93
4 (Ser2246Leu)  1                            1                 2
5 Gly2337Val    0                           20                20

In [9]:
fisher_icd <- read.csv(file.path(data_dir, "icd_fisher.csv"))
head(fisher_icd)

  p_posedit_str ICD_and_beta_blocker beta_blocker_only Total
1 (Arg420Gln)   9                    10                19
2 (Arg420Trp)   2                     3                 5
3 (Gly357Ser)   1                    93                94
4 (Ser2246Leu)  4                     1                 5
5 Gly2337Val    1                    20                21

In [12]:
fisher_flec_test <- fisher_flec[, c("p_posedit_str",
                                     "Flecainide_and_beta_blocker",
                                     "beta_blocker_only")]
rownames(fisher_flec_test) <- fisher_flec_test$p_posedit_str
fisher_flec_test <- fisher_flec_test[, -1]
fisher_flec_test

             Flecainide_and_beta_blocker beta_blocker_only
(Arg420Gln)  0                           10
(Arg420Trp)  9                            3
(Gly357Ser)  0                           93
(Ser2246Leu) 1                            1
Gly2337Val   0                           20

In [10]:
# same for icd
fisher_icd_test <- fisher_icd[, c("p_posedit_str", "ICD_and_beta_blocker",
                                   "beta_blocker_only")]
rownames(fisher_icd_test) <- fisher_icd_test$p_posedit_str
fisher_icd_test <- fisher_icd_test[, -1]
fisher_icd_test

             ICD_and_beta_blocker beta_blocker_only
(Arg420Gln)  9                    10
(Arg420Trp)  2                     3
(Gly357Ser)  1                    93
(Ser2246Leu) 4                     1
Gly2337Val   1                    20

In [13]:
# run the fisher test
row_wise_fisher_test(xtab=fisher_flec_test, p.adjust.method = "fdr")

  group        n   p        p.adj    p.adj.signif
1 (Arg420Gln)  137 1.00e+00 1.00e+00 ns
2 (Arg420Trp)  137 6.01e-11 3.01e-10 ****
3 (Gly357Ser)  137 5.41e-06 1.35e-05 ****
4 (Ser2246Leu) 137 1.41e-01 2.35e-01 ns
5 Gly2337Val   137 3.57e-01 4.46e-01 ns

In [14]:
pairwise_fisher_test(x=fisher_flec_test, p.adjust.method = "fdr")

   group1       group2       n   p        p.adj    p.adj.signif
1  (Arg420Gln)  (Arg420Trp)   22 4.62e-04 1.54e-03 **
2  (Arg420Gln)  (Gly357Ser)  103 1.00e+00 1.00e+00 ns
3  (Arg420Gln)  (Ser2246Leu)  12 1.67e-01 2.78e-01 ns
4  (Arg420Gln)  Gly2337Val    30 1.00e+00 1.00e+00 ns
5  (Arg420Trp)  (Gly357Ser)  105 7.32e-11 7.32e-10 ****
6  (Arg420Trp)  (Ser2246Leu)  14 5.05e-01 7.21e-01 ns
7  (Arg420Trp)  Gly2337Val    32 7.84e-06 3.92e-05 ****
8  (Gly357Ser)  (Ser2246Leu)  95 2.11e-02 5.28e-02 ns
9  (Gly357Ser)  Gly2337Val   113 1.00e+00 1.00e+00 ns
10 (Ser2246Leu) Gly2337Val    22 9.09e-02 1.82e-01 ns

In [15]:
# run for icd
row_wise_fisher_test(xtab=fisher_icd_test, p.adjust.method = "fdr")

  group        n   p        p.adj    p.adj.signif
1 (Arg420Gln)  144 2.25e-05 5.62e-05 ****
2 (Arg420Trp)  144 1.06e-01 1.32e-01 ns
3 (Gly357Ser)  144 9.13e-08 4.56e-07 ****
4 (Ser2246Leu) 144 6.41e-04 1.07e-03 **
5 Gly2337Val   144 4.68e-01 4.68e-01 ns

In [16]:
pairwise_fisher_test(x=fisher_icd_test, p.adjust.method = "fdr")

   group1       group2       n   p        p.adj    p.adj.signif
1  (Arg420Gln)  (Arg420Trp)   24 1.00e+00 1.00e+00 ns
2  (Arg420Gln)  (Gly357Ser)  113 1.41e-07 1.41e-06 ****
3  (Arg420Gln)  (Ser2246Leu)  24 3.27e-01 4.16e-01 ns
4  (Arg420Gln)  Gly2337Val    40 2.81e-03 7.02e-03 **
5  (Arg420Trp)  (Gly357Ser)   99 6.06e-03 1.21e-02 *
6  (Arg420Trp)  (Ser2246Leu)  10 5.24e-01 5.82e-01 ns
7  (Arg420Trp)  Gly2337Val    26 8.46e-02 1.41e-01 ns
8  (Gly357Ser)  (Ser2246Leu)  99 6.59e-06 3.30e-05 ****
9  (Gly357Ser)  Gly2337Val   115 3.33e-01 4.16e-01 ns
10 (Ser2246Leu) Gly2337Val    26 1.61e-03 5.37e-03 **

# Treatment Effectiveness (Other than Beta Blockers)

In [17]:
f_effective <- read.csv(file.path(data_dir, "flecainide_effectiveness.csv"))
head(f_effective)

  p_posedit_str Effective Ineffective Total
1 (Arg420Trp)   11        1           12
2 (Cys2277Arg)   6        0            6
3 (Met3978Ile)   4        4            8
4 (Ser4124Gly)   4        3            7

In [18]:
icd_effective <- read.csv(file.path(data_dir, "icd_effectiveness.csv"))
head(icd_effective)

  p_posedit_str Effective Ineffective Total
1 (Arg420Gln)   4         5           9
2 (Met3978Ile)  1         4           5
3 (Ser2246Leu)  5         2           7

In [20]:
f_effective_test <- f_effective[, c("p_posedit_str", "Effective", "Ineffective")]
rownames(f_effective_test) <- f_effective_test$p_posedit_str
f_effective_test <- f_effective_test[, -1]
f_effective_test

             Effective Ineffective
(Arg420Trp)  11        1
(Cys2277Arg)  6        0
(Met3978Ile)  4        4
(Ser4124Gly)  4        3

In [21]:
icd_effective_test <- icd_effective[, c("p_posedit_str", "Effective", "Ineffective")]
rownames(icd_effective_test) <- icd_effective_test$p_posedit_str
icd_effective_test <- icd_effective_test[, -1]
icd_effective_test

             Effective Ineffective
(Arg420Gln)  4         5
(Met3978Ile) 1         4
(Ser2246Leu) 5         2

In [27]:
# run the fisher test
row_wise_fisher_test(xtab=f_effective_test, p.adjust.method = "fdr")

  group        n  p      p.adj p.adj.signif
1 (Arg420Trp)  33 0.2060 0.320 ns
2 (Cys2277Arg) 33 0.2960 0.320 ns
3 (Met3978Ile) 33 0.0737 0.295 ns
4 (Ser4124Gly) 33 0.3200 0.320 ns

In [23]:
# run the pairwise fisher test
pairwise_fisher_test(x=f_effective_test, p.adjust.method = "fdr")

  group1       group2       n  p      p.adj p.adj.signif
1 (Arg420Trp)  (Cys2277Arg) 18 1.0000 1.000 ns
2 (Arg420Trp)  (Met3978Ile) 20 0.1090 0.234 ns
3 (Arg420Trp)  (Ser4124Gly) 19 0.1170 0.234 ns
4 (Cys2277Arg) (Met3978Ile) 14 0.0849 0.234 ns
5 (Cys2277Arg) (Ser4124Gly) 13 0.1920 0.288 ns
6 (Met3978Ile) (Ser4124Gly) 15 1.0000 1.000 ns

In [24]:
row_wise_fisher_test(xtab=icd_effective_test, p.adjust.method = "fdr")

  group        n  p     p.adj p.adj.signif
1 (Arg420Gln)  21 1.000 1.000 ns
2 (Met3978Ile) 21 0.311 0.466 ns
3 (Ser2246Leu) 21 0.183 0.466 ns

In [25]:
pairwise_fisher_test(x=icd_effective_test, p.adjust.method = "fdr")

  group1       group2       n  p     p.adj p.adj.signif
1 (Arg420Gln)  (Met3978Ile) 14 0.580 0.580 ns
2 (Arg420Gln)  (Ser2246Leu) 16 0.358 0.537 ns
3 (Met3978Ile) (Ser2246Leu) 12 0.242 0.537 ns