In [1]:


import duckdb

clinvar_duckdb_loc = "/Volumes/T7_Shield/data/2024/cpvt-database/cleanup/data/clinvar.duckdb"

conn = duckdb.connect(clinvar_duckdb_loc)

In [2]:
conn.execute("""
SELECT *
FROM clinvar
LIMIT 5
""").fetchdf()

,#AlleleID,Type,Name,GeneID,GeneSymbol,HGNC_ID,ClinicalSignificance,ClinSigSimple,LastEvaluated,RS# (dbSNP),...,VariationID,PositionVCF,ReferenceAlleleVCF,AlternateAlleleVCF,SomaticClinicalImpact,SomaticClinicalImpactLastEvaluated,ReviewStatusClinicalImpact,Oncogenicity,OncogenicityLastEvaluated,ReviewStatusOncogenicity
0,15041,Indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,0,-,397704705,...,2,4820844,GGAT,TGCTGTAAACTGTAACTGTAAA,-,-,-,-,-,-
1,15041,Indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,0,-,397704705,...,2,4781213,GGAT,TGCTGTAAACTGTAACTGTAAA,-,-,-,-,-,-
2,15042,Deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,0,"Jun 29, 2010",397704709,...,3,4827360,GCTGCTGGACCTGCC,G,-,-,-,-,-,-
3,15042,Deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,0,"Jun 29, 2010",397704709,...,3,4787729,GCTGCTGGACCTGCC,G,-,-,-,-,-,-
4,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,4,85342440,G,A,-,-,-,-,-,-

In [4]:
# Get the table names
conn.execute("""
SELECT COUNT(*)
FROM clinvar
WHERE Assembly = 'GRCh38'
""").fetchall()

[(2921042,)]

In [ ]:
# As of 07/2024 there are 2,921,042 variants in the GRCh38 assembly

In [6]:
conn.execute("""
SELECT 
    GeneSymbol,
    COUNT(*) AS num_variants
FROM clinvar
WHERE Assembly = 'GRCh38'
GROUP BY GeneSymbol
ORDER BY num_variants DESC
LIMIT 25
""").fetchdf()

   GeneSymbol  num_variants
0         TTN         31076
1       BRCA2         18561
2         ATM         16427
3         APC         14607
4       BRCA1         14241
5         NF1         14046
6         NEB         10870
7        TSC2         10630
8        MSH6          9128
9        POLE          9122
10       RYR1          9116
11      USH2A          8254
12        DMD          8212
13       RYR2          7906
14       FBN1          7628
15       MSH2          7168
16     DICER1          6386
17      ALMS1          6258
18     ADGRV1          6213
19      SYNE1          6188
20      PALB2          5770
21      DNAH5          5683
22     DNAH11          5660
23       PLEC          5621
24     VPS13B          5556