# Create Pivot Tables

Create a pivot table of patients and conditions. Then combine all individuals and their variants into a single table for analysis.

In [46]:
import pandas as pd
import sqlalchemy as sa
from openpyxl.cell import Cell

In [5]:
# read db connection from .env file
from helpers.settings import get_settings

settings = get_settings()

Loading settings ...

In [6]:
engine = sa.create_engine(settings.postgresql_dsn.__str__())

In [7]:
df = pd.read_sql("""
SELECT i.individual_id, c.condition, ic.has_condition
FROM individual i
JOIN individual_condition ic
ON i.individual_id = ic.individual_id
JOIN condition c
ON ic.condition_id = c.condition_id
""", engine)
df.head()

,individual_id,condition,has_condition
0,1,Catecholaminergic polymorphic ventricular tach...,True
1,1,Heart Structure Abnormality,False
2,1,Baseline/resting electrocardiogram abnormality,False
3,1,Polymorphic ventricular tachycardia,True
4,1,Exercise/stress induced polymorphic ventricula...,True

In [8]:
df2 = df.copy()
df2 = df2.pivot(index='individual_id', columns='condition',
                values='has_condition')
df2.reset_index(inplace=True)

df2.head()

condition,individual_id,Adult-onset primary generalised epilepsy,Arrhythmia at rest,Arrhythmogenic right ventricular cardiomyopathy,Arteriovenous malformation,Ascending aortic aneurysm,Atrial fibrillation,Atrial flutter,Atrial standstill,Atrial tachycardia,...,Sudden cardiac death,Sudden infant death syndrome,Supraventricular tachycardia,Syncope,Syncope exercise/stress induced,Third-degree atrioventricular block,Unspecified premature ventricular contractions,Ventricular fibrillation,Ventricular tachycardia (unspecified),Weight loss
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,False,...,NaN,NaN,NaN,True,True,NaN,False,NaN,NaN,NaN
3,4,NaN,False,NaN,NaN,NaN,False,NaN,NaN,True,...,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# find the current working directory
import os
import IPython

notebook_path = IPython.get_ipython().getoutput('pwd')[0]

data_dir = os.path.join(notebook_path, '..', 'data')

if not os.path.exists(data_dir):
    print(f'Creating directory: {data_dir}')
    os.makedirs(data_dir)

In [10]:
# save to csv
df_file = os.path.join(data_dir, 'individual_conditions.csv')
df2.to_csv(df_file, index=False)

# Combine purified data with rest of condition data

In [11]:
df_all_condition = pd.read_sql("""
SELECT i.individual_id, c.condition, ic.age_of_onset, ic.description, ic.onset_symptoms
FROM individual i
LEFT JOIN individual_condition ic
ON i.individual_id = ic.individual_id
LEFT JOIN condition c
ON ic.condition_id = c.condition_id
""", engine)
df_all_condition.head()

,individual_id,condition,age_of_onset,description,onset_symptoms
0,1,Catecholaminergic polymorphic ventricular tach...,NaN,None,None
1,1,Heart Structure Abnormality,NaN,None,None
2,1,Baseline/resting electrocardiogram abnormality,NaN,None,None
3,1,Polymorphic ventricular tachycardia,NaN,None,None
4,1,Exercise/stress induced polymorphic ventricula...,NaN,None,None

In [12]:
df_all_condition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13687 entries, 0 to 13686
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   individual_id   13687 non-null  int64
 1   condition       13687 non-null  object
 2   age_of_onset    411 non-null    float64
 3   description     260 non-null    object
 4   onset_symptoms  313 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 534.8+ KB

In [13]:
df_all_condition.groupby('individual_id')['description'].apply(
    lambda x: ', '.join(x.dropna())).reset_index()

      individual_id                                        description
0                 1
1                 2
2                 3
3                 4
4                 5
...             ...                                                ...
1342           1350                                  2:1 noncompaction
1343           1352
1344           1353                             Abnormal RV relaxation
1345           1354           Prominent left ventricular trabeculation
1346           1355  Noncompaction Cardiomyopathy (excessive apical...

[1347 rows x 2 columns]

In [14]:
df3_pivot = df_all_condition.pivot(
    index='individual_id', columns='condition',
    values=['age_of_onset', 'onset_symptoms'])
df3_pivot.reset_index(inplace=True)
# drop any columns that are all NaN
df3_pivot = df3_pivot.dropna(axis=1, how='all')
df3_pivot.columns = ['::'.join(col).strip().strip(":") for col in
                     df3_pivot.columns.values]
# reset individual_id to a column
df3_pivot.set_index('individual_id', inplace=True)
# join the description column
df3_pivot = df3_pivot.join(
    df_all_condition.groupby('individual_id')['description'].apply(
        lambda x: ', '.join(x.dropna())).reset_index().set_index(
        'individual_id'))
# rename the description column to "other conditions"
df3_pivot.rename(columns={'description': 'other conditions'}, inplace=True)
df3_pivot.head()

,age_of_onset::Catecholaminergic polymorphic ventricular tachycardia 1,onset_symptoms::Catecholaminergic polymorphic ventricular tachycardia 1,other conditions
individual_id,,,
1,NaN,None,
2,NaN,none,
3,NaN,None,
4,2.0,None,
5,10.0,None,

In [15]:
# save to csv   
df3_pivot.to_csv(
    os.path.join(data_dir, 'individual_conditions_descriptions.csv'),
    index=False
)

## Family History Conditions

In [16]:
df4_pre = pd.read_sql("""
SELECT i.individual_id,
       c.condition,
       fmh.has_condition,
       kn.name AS relationship
FROM individual i
         LEFT JOIN family_history_record fhr
                   ON i.individual_id = fhr.individual_id
         LEFT JOIN condition c
                   ON fhr.condition_id = c.condition_id
         JOIN family_member_history fmh
                   ON fhr.family_history_record_id =
                      fmh.family_history_record_id
         JOIN kinship_name kn
                   ON fmh.kinship_name_id = kn.kinship_name_id
ORDER BY i.individual_id
""", engine)
df4_pre.head()

   individual_id             condition  has_condition relationship
0              1  Sudden cardiac death           True       Mother
1              1  Sudden cardiac death          False       Father
2             10  Sudden cardiac death          False       Father
3             10  Sudden cardiac death           True       Mother
4             11  Sudden cardiac death          False       Father

In [17]:
df4_1_pivot = df4_pre.pivot(
    index='individual_id', columns=['condition', 'relationship'],
    values='has_condition'
)
df4_1_pivot.reset_index(inplace=True)
df4_1_pivot.columns = ['::'.join(col).strip().strip(":") for col in
                       df4_1_pivot.columns.values]
df4_1_pivot.set_index('individual_id', inplace=True)
df4_1_pivot.head()

               Sudden cardiac death::Mother  Sudden cardiac death::Father
individual_id
1                                      True                         False
10                                     True                         False
11                                     True                         False
14                                     True                         False
15                                     True                         False

In [18]:
df4_2_pre = pd.read_sql("""
SELECT i.individual_id,
       c.condition,
       num_family_members
FROM individual i
         JOIN family_history_record fhr
                   ON i.individual_id = fhr.individual_id
         JOIN condition c
                   ON fhr.condition_id = c.condition_id
WHERE num_family_members IS NOT NULL
ORDER BY num_family_members DESC
""", engine)
df4_2_pre.head()

   individual_id             condition  num_family_members
0            881  Sudden cardiac death                  36
1            877  Sudden cardiac death                  36
2            875  Sudden cardiac death                  36
3            873  Sudden cardiac death                  36
4            871  Sudden cardiac death                  36

In [19]:
df4_2_pivot = df4_2_pre.pivot(index='individual_id', columns='condition',
                              values='num_family_members').reset_index()
df4_2_pivot.columns = [
    f"{col}::num_family_members" if col != 'individual_id' else col
    for col in
    df4_2_pivot.columns.values]
df4_2_pivot.set_index('individual_id', inplace=True)
df4_2_pivot.head()

               Sudden cardiac death::num_family_members
individual_id
4                                                     0
9                                                     0
13                                                    0
14                                                    0
15                                                    0

In [20]:
# combine the two dataframes - not all individuals will be in both
df4_pivot = df4_1_pivot.join(df4_2_pivot, how='outer')
df4_pivot.head()

,Sudden cardiac death::Mother,Sudden cardiac death::Father,Sudden cardiac death::num_family_members
individual_id,,,
1,True,False,NaN
4,NaN,NaN,0.0
9,NaN,NaN,0.0
10,True,False,NaN
11,True,False,NaN

In [21]:
# save to csv
df4_pivot.to_csv(
    os.path.join(data_dir, 'individual_family_conditions.csv'),
)

## Treatments

In [22]:
df5 = pd.read_sql("""
SELECT i.individual_id,
       tr.treatment_taken,
       tr.effective,
       t.treatment_name
FROM individual i
         JOIN treatment_record tr
                   ON i.individual_id = tr.patient_id
         LEFT JOIN treatment t
                   ON tr.treatment_id = t.treatment_id
ORDER BY i.individual_id
""", engine)
df5.head()

,individual_id,treatment_taken,effective,treatment_name
0,2,True,False,Beta blocker
1,2,False,None,Verapamil
2,2,True,True,Flecainide
3,2,False,None,Enalapril
4,2,False,None,Left cardiac sympathetic denervation

In [23]:
df5_pivot = df5.pivot(index='individual_id', columns='treatment_name',
                      values=['treatment_taken', 'effective'])
df5_pivot.reset_index(inplace=True)
df5_pivot.columns = ['::'.join(col).strip().strip(":") for col in
                     df5_pivot.columns.values]
df5_pivot.set_index('individual_id', inplace=True)
df5_pivot.head()

,treatment_taken::Beta blocker,treatment_taken::Catheter ablation,treatment_taken::Enalapril,treatment_taken::Flecainide,treatment_taken::Implantable cardioverter-defibrillator,treatment_taken::Left cardiac sympathetic denervation,treatment_taken::Verapamil,effective::Beta blocker,effective::Catheter ablation,effective::Enalapril,effective::Flecainide,effective::Implantable cardioverter-defibrillator,effective::Left cardiac sympathetic denervation,effective::Verapamil
individual_id,,,,,,,,,,,,,,
2,True,False,False,True,False,False,False,False,None,None,True,None,None,None
4,True,False,False,False,False,False,False,None,None,None,None,None,None,None
6,False,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
7,False,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
8,False,False,False,False,True,False,False,None,None,None,None,True,None,None

In [24]:
# save to csv
df5_pivot.to_csv(
    os.path.join(data_dir, 'individual_treatments.csv'),
)

# Combine all data

In [28]:
df_rest = pd.read_sql("""
SELECT i.individual_id,
       ioer.original_row,
       iis.value              AS sex,
       iv.variant_id,
       z.zygosity,
       vi.variant_inheritance AS inheritance,
       v.hgvs_string,
       sv.p_hgvs_string,
       itp.publication_id,
       p.title,
       p.first_author,
       p.reference,
       p.doi,
       p.year,
       pd.name AS publication_database,
       pd.resource_uri,
       ptd.resource_id,
       i.extra_information
FROM individual i
         LEFT JOIN individual_sex iis
                   ON i.individual_sex_id = iis.individual_sex_id
         LEFT JOIN individual_variant iv
                   ON i.individual_id = iv.individual_id
         LEFT JOIN zygosity z
                   ON iv.zygosity_id = z.zygosity_id
         LEFT JOIN variant_inheritance vi
                   ON iv.variant_inheritance_id = vi.variant_inheritance_id
         LEFT JOIN variant v
                   ON iv.variant_id = v.variant_id
         LEFT JOIN individual_to_publication itp
                   ON i.individual_id = itp.individual_id
         LEFT JOIN publication p
                   ON itp.publication_id = p.publication_id
         LEFT JOIN sequence_variant sv
                   ON v.sequence_variant_id = sv.sequence_variant_id
         LEFT JOIN publication_to_database ptd
                   ON p.publication_id = ptd.publication_id
        LEFT JOIN publication_database pd
                   ON pd.database_id = ptd.database_id
        LEFT JOIN individual_original_excel_row ioer 
                   on i.individual_id = ioer.individual_id
ORDER BY i.individual_id;
""", engine)
df_rest["resource_uri"] = df_rest.apply(
    lambda x: f"{x['resource_uri']}{x['resource_id']}" if x[
        'resource_id'] else None,
    axis=1
)
df_rest["doi_uri"] = df_rest.apply(
    lambda x: f"https://doi.org/{x['doi']}" if x['doi'] else None,
    axis=1
)
df_rest.head()

,individual_id,original_row,sex,variant_id,zygosity,inheritance,hgvs_string,p_hgvs_string,publication_id,title,first_author,reference,doi,year,publication_database,resource_uri,resource_id,extra_information,doi_uri
0,1,"{'ICD': None, 'Sex': None, 'PMID': 22787013, '...",None,609,heterozygous,inherited,NM_001035.3:c.13564-41A>G,None,1,Familial Evaluation in Catecholaminergic Polym...,Van Der Werf C,None,10.1161/CIRCEP.112.970517,2012,PubMed,https://pubmed.ncbi.nlm.nih.gov/22787013,22787013,"{'basic_science': False, 'maternity_paternity_...",https://doi.org/10.1161/CIRCEP.112.970517
1,2,"{'ICD': 'No', 'Sex': 'Female', 'PMID': 2161628...",female,599,None,None,NM_001035.3:c.14885A>G,NP_001026.2:p.(Tyr4962Cys),2,Flecainide therapy reduces exercise-induced ve...,"van der Werf, C",None,10.1016/j.jacc.2011.01.026,2011,PubMed,https://pubmed.ncbi.nlm.nih.gov/21616285,21616285,{'basic_science': False},https://doi.org/10.1016/j.jacc.2011.01.026
2,3,"{'ICD': None, 'Sex': 'Male', 'PMID': 32553227,...",male,681,None,None,NM_001035.3:c.14173T>A,NP_001026.2:p.(Tyr4725Asn),3,Structural abnormalities on cardiac magnetic r...,"Gerber, D",None,10.1016/j.jacep.2020.03.006,2020,PubMed,https://pubmed.ncbi.nlm.nih.gov/32553227,32553227,"{'basic_science': False, 'maternity_paternity_...",https://doi.org/10.1016/j.jacep.2020.03.006
3,4,"{'ICD': 'no', 'Sex': 'Female', 'PMID': 2359508...",female,3698,heterozygous,None,NM_001035.3:c.14174A>G,NP_001026.2:p.(Tyr4725Cys),4,Genetic Background of Catecholaminergic Polymo...,"Kawamura, M",None,10.1253/circj.cj-12-1460,2013,PubMed,https://pubmed.ncbi.nlm.nih.gov/23595086,23595086,{'basic_science': False},https://doi.org/10.1253/circj.cj-12-1460
4,5,"{'ICD': None, 'Sex': 'Male', 'PMID': 26114861,...",male,3698,None,spontaneous,NM_001035.3:c.14174A>G,NP_001026.2:p.(Tyr4725Cys),5,Gender differences in the inheritance mode of ...,"Ohno, S.",None,10.1371/journal.pone.0131517,2015,PubMed,https://pubmed.ncbi.nlm.nih.gov/26114861,26114861,"{'basic_science': False, 'maternity_paternity_...",https://doi.org/10.1371/journal.pone.0131517

In [30]:
df_all = df_rest.set_index('individual_id').join(df2).join(
    df3_pivot
).join(df4_pivot).join(df5_pivot)
df_all.drop(columns='individual_id', inplace=True)
# set the index name to individual_id
df_all.index.name = 'individual_id'
df_all.head()

,original_row,sex,variant_id,zygosity,inheritance,hgvs_string,p_hgvs_string,publication_id,title,first_author,...,treatment_taken::Implantable cardioverter-defibrillator,treatment_taken::Left cardiac sympathetic denervation,treatment_taken::Verapamil,effective::Beta blocker,effective::Catheter ablation,effective::Enalapril,effective::Flecainide,effective::Implantable cardioverter-defibrillator,effective::Left cardiac sympathetic denervation,effective::Verapamil
individual_id,,,,,,,,,,,,,,,,,,,,,
1,"{'ICD': None, 'Sex': None, 'PMID': 22787013, '...",None,609,heterozygous,inherited,NM_001035.3:c.13564-41A>G,None,1,Familial Evaluation in Catecholaminergic Polym...,Van Der Werf C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'ICD': 'No', 'Sex': 'Female', 'PMID': 2161628...",female,599,None,None,NM_001035.3:c.14885A>G,NP_001026.2:p.(Tyr4962Cys),2,Flecainide therapy reduces exercise-induced ve...,"van der Werf, C",...,False,False,False,False,None,None,True,None,None,None
3,"{'ICD': None, 'Sex': 'Male', 'PMID': 32553227,...",male,681,None,None,NM_001035.3:c.14173T>A,NP_001026.2:p.(Tyr4725Asn),3,Structural abnormalities on cardiac magnetic r...,"Gerber, D",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'ICD': 'no', 'Sex': 'Female', 'PMID': 2359508...",female,3698,heterozygous,None,NM_001035.3:c.14174A>G,NP_001026.2:p.(Tyr4725Cys),4,Genetic Background of Catecholaminergic Polymo...,"Kawamura, M",...,False,False,False,None,None,None,None,None,None,None
5,"{'ICD': None, 'Sex': 'Male', 'PMID': 26114861,...",male,3698,None,spontaneous,NM_001035.3:c.14174A>G,NP_001026.2:p.(Tyr4725Cys),5,Gender differences in the inheritance mode of ...,"Ohno, S.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
import datetime

date = datetime.datetime.now().strftime("%Y-%m-%d")

date

'2024-07-08'

In [47]:
from contextlib import contextmanager
import openpyxl
import openpyxl.utils


@contextmanager
def open_workbook(filename: str):
    wb = None

    try:
        wb = openpyxl.load_workbook(filename)
        yield wb
        wb.save(filename)
    except Exception as e:
        print("Something went wrong: ", e)
    finally:
        if wb:
            wb.close()

In [48]:
from openpyxl.styles import Font

excel_filename = os.path.join(data_dir, f'individual_all_data-{date}.xlsx')

# save to csv
df_all.to_excel(
    os.path.join(data_dir, excel_filename),
    sheet_name='all_data'
)

with open_workbook(excel_filename) as wb:
    sheet = wb['all_data']

    col_to_idx = {
        row[i].value: i
        for row in sheet.iter_rows(min_row=1, max_row=1)
        for i in range(len(row))
    }
    for i, row in enumerate(sheet.iter_rows(min_row=2)):
        for col in ["resource_uri", "doi_uri"]:
            cell: Cell = row[col_to_idx[col]]

            if isinstance(cell.value, str) and cell.value.startswith('http'):
                cell.hyperlink = cell.value
                cell.font = Font(color='0000FF', underline='single')