In [7]:
import pandas as pd
from analysis.database import get_engine

with get_engine() as engine:
    df = pd.read_sql(
        """
        SELECT structure_id, name AS domain, symbol, parent_id, residue_span
        FROM structure
        """,
        engine
    )
    df["symbol"] = df["symbol"].apply(lambda x: x.strip() if pd.notna(x) else x)

df.to_excel(
    "RYR2_structure.xlsx",
    index=False
)

df.head()

   structure_id               domain symbol  parent_id  residue_span
0             1                 RYR2   None        NaN   [[1, 4968)]
1             2      Cytosolic shell   None        1.0   [[1, 3634)]
2             3    N-terminal domain    NTD        1.0    [[1, 640)]
3             4  N-terminal domain A  NTD-A        3.0    [[1, 220)]
4             5  N-terminal domain B  NTD-B        3.0  [[220, 409)]

In [3]:
with get_engine() as engine:
    df_root = pd.read_sql(
        """
        SELECT * FROM structure_root
        """,
        engine
    )

df_root

,structure_root_id,created_at,updated_at
0,1,2024-08-07 14:42:12.439368+00:00,2024-08-07 14:42:12.439368+00:00

In [4]:
with get_engine() as engine:
    structure_root_to_protein = pd.read_sql(
        """
        SELECT * FROM structure_root_to_protein
        """,
        engine
    )

structure_root_to_protein

,structure_root_id,protein_id,created_at,updated_at
0,1,115120,2024-08-07 14:42:12.439368+00:00,2024-08-07 14:42:12.439368+00:00

In [8]:
ryr2_structure_df = pd.read_excel("RYR2_structure.xlsx")

ryr2_structure_df.head()

   structure_id               domain symbol  parent_id  residue_span
0             1                 RYR2    NaN        NaN   {[1, 4968)}
1             2      Cytosolic shell    NaN        1.0   {[1, 3634)}
2             3    N-terminal domain    NTD        1.0    {[1, 640)}
3             4  N-terminal domain A  NTD-A        3.0    {[1, 220)}
4             5  N-terminal domain B  NTD-B        3.0  {[220, 409)}